@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Minecraft';
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color:white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 1rem 0;
    background-color: rgba(3, 12, 66, 0.8);
}

header img {
    max-width: 600px;
    height: auto;
}
